<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Learning by Playing </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/main/css/")
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
</head>
<body>

<header>
    <div class="navbar-fixed">
        <nav class="black darken-2">
            @Html.ActionLink("QUIZLIZ", "Index", "Home", null, new {@class = "brand-logo center hide-on-small-and-down"})
            <img class="brand-logo left" style="margin-left: 80px" src="~/Content/media/geko-logo.png" width="50" height="auto"/>

            <ul class="right">
                <li>@Html.ActionLink("Quiz", "Quiz", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Leaderboard", "Leaderboard", "User")</li>
                <li>@Html.ActionLink("Login", "Login", "User")</li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <div>
        <div class="col s12 m12 l12 center">
            @RenderBody()
        </div>
    </div>
</main>

<footer class="page-footer black darken-1">
    <div class="footer-copyright">
        <div class="container center">
            &copy; QUIZLIZ @DateTime.Now.Year
        </div>
    </div>
</footer>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/materialize")
<script>

    $(document).ready(function() {
        $('.parallax').parallax();
        $('select').formSelect();
        console.log("test");
    });
</script>

</body>

</html>
